/* LanguageSelector.css */
.icon-transition {
    transition: transform 0.3s ease-in-out;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
  }
  