.loaderContainer {
    position: relative;
    width: 300px;  /* Increased size */
    height: 100px; /* Increased size */
    overflow: visible; /* Ensure overflow is visible */
  }
  
  .loader {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    overflow: visible; /* Ensure overflow is visible */
  }
  
  .backgroundCircle {
    fill: none;
    stroke: #e2a26d;
    strokeWidth: 10;
  }
  
  .progressCircle {
    fill: none;
    stroke: #d84f06;
    strokeWidth: 10;
    stroke-dasharray: 283; /* 2 * Math.PI * 45 (radius) */
    stroke-dashoffset: 283; /* Initially hidden */
    transition: stroke-dashoffset 0.3s linear;
  }
  
  .playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #e04f00;
    pointer-events: none;
  }
  
  