@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */

@keyframes growAnimation {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.animate-grow {
  animation: growAnimation 0.2s ease-out forwards;
}

.loader {
  display: block;
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; 
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #FF914D;
  animation: 0.2s prog ease-in forwards;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
